@model List<Story>
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stories</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h1>Stories</h1>
        View, rate, and comment on stories here! Or if you'd like to share your own story,
        please visit the <a asp-action="StoriesForm">Stories Form</a> page.  
    </div>
    <div>
        @foreach (Story story in Model)
        {
            <h3>Title</h3>
            @story.Title; <br />

            <h3>Date</h3>
            @story.Date; <br />

            <h3>Name</h3>
            @story.Name; <br />

            <h3>Story</h3>
            @story.StoryText; <br />

            @if (story.Comments.Count > 0)
            {
                <h4>Comments</h4>
                foreach (Comment c in story.Comments)
                {
                    @c.Contributor.Name  <br />
                    @c.CommentText <br />

            }
        }

            <a asp-action="AddComment" asp-route-title="@story.Title">Add a comment</a>
        }
    </div>
</body>
</html>
