<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <a asp-controller="@ViewBag.BackController" asp-action="@ViewBag.BackPage">back to @ViewBag.BackPage</a>
    @RenderBody()
</body>
</html>
